<p>This is a board</p> 

<!--{{kanbanBoard.Columns[0][0].toString()}}-->

<!-- <ul>
  <li *ngFor="let column of kanbanBoard.Columns"> {{column[0].toString()}} </li>
</ul> -->

<div class="row">
  <div class="column" *ngFor="let column of kanbanBoard.Columns">
    <!-- <h3>Column title</h3> -->
    <app-card *ngFor="let card of column" [card]=card (click)="kanbanBoard.moveCard(card)"></app-card>
    <p align="center">
      <button (click)="kanbanBoard.createCard(kanbanBoard.Columns.indexOf(column))">Create card</button>
    </p>
    
  </div>
    <button (click)="kanbanBoard.createCard(kanbanBoard.Columns.length)">Create card</button>
</div>
