<p>This is a board</p> 

<!--{{kanbanBoard.Columns[0][0].toString()}}-->

<!-- <ul>
  <li *ngFor="let column of kanbanBoard.Columns"> {{column[0].toString()}} </li>
</ul> -->

<div class="row">
  <div class="column" *ngFor="let column of kanbanBoard.Columns">
    <!-- <h3>Column title</h3> -->
    <div *ngFor="let card of column">
      <app-card [card]=card ></app-card>
      <button (click)="kanbanBoard.moveCard(card,'left')">left</button>
      <button (click)="kanbanBoard.moveCard(card, 'right')">right</button>
      <button (click)="kanbanBoard.moveCard(card, 'up')">up</button>
      <button (click)="kanbanBoard.moveCard(card, 'down')">down</button>
      <button (click)="kanbanBoard.deleteCard(card)">delete</button>
    </div>
    
    <p align="center">
      <button (click)="kanbanBoard.createCard(kanbanBoard.Columns.indexOf(column))">Create card</button>
    </p>
    
  </div>
    <button (click)="kanbanBoard.createCard(kanbanBoard.Columns.length)">Create card</button>
</div>
