KanbanBackend/.vs/VSWorkspaceState.json
KanbanBackend/.vs/slnx.sqlite
KanbanBackend/.vs/ProjectSettings.json
KanbanBackend/.vs/KanbanBackend/v15/.suo
.vs/Kanban/v15/.suo
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/slnx.sqlite
.vs/slnx.sqlite
.vs/slnx.sqlite
.vs/Kanban/v16/.suo
.vs/slnx.sqlite
.vs/Kanban/v16/.suo
/node_modules
/package-lock.json
.vs/slnx.sqlite
/KanbanBackend/DBInfo.txt
/KanbanBackend/node_modules
DBInfo.txt
KanbanBackend/DBInfo.txt
.vs/slnx.sqlite
.vs/Kanban/v16/.suo
.vs/Kanban/config/applicationhost.config
/.vs